{% extends 'layout.html' %}

{% block title %} Log in to RR! {% endblock %}

{% block style %}
    <style>
        .container {
            margin-top: 40px
        }

        .btn-light {
            border: none;
            background-color: burlywood
        }

    </style>
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Log in with your RR! account </h1>

        <form action="{{ url_for('login') }}" method="post">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" name="username" placeholder="your_username">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="password">
            </div>
            <button type="submit" class="btn btn-light"> Log in </button>
        </form>
    </div>
{% endblock %}